/M4_Team_Plant_Box_case_solution/work_directory/merged_df.csv
/M4_Team_Plant_Box_case_solution/train_dataset_Плантбокс/Атлас 2021.docx
/M4_Team_Plant_Box_case_solution/train_dataset/Лекарственные_и_эфирномасличные_растения_Маланкина_Е_,_Цицилин_А копия.docx
/M4_Team_Plant_Box_case_solution/train_dataset/Атлас_2021.docx
/M4_Team_Plant_Box_case_solution/train_dataset/Атлас 2021 копия.docx
/.idea/workspace.xml
/M4_Team_Plant_Box_case_solution/train_dataset/generated/_Дикорастущие лекарственные растения СССР.pdf
